.cv-board {
  position: relative;
  display: flex;
  border-radius: 0px 0px 10px 10px;
}


.right {
  width: 600px;
  padding-bottom: 20px;
}
.categoryTab {
  height: 30px;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 20px;

  width: 90%;
  background-color: var(--orange);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.tab {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 30px;
  background-color: var(--dark-blue);
  border-radius: 20px;
}

.dot {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--orange);
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.smallDot {
  width: 25px;
  height: 25px;
  background-color: #6fa5b3;
  border-radius: 50%;
  display: flex;
  align-items: center;

}

.label {
  margin-left: 10px;
  color: var(--beige);
  font-size: 20px;
  font-weight: 500;
}

.content {
  background-color: rgba(0, 0, 0, 0.163);
  border-radius: 0 0 5px 5px;
  margin-left: 40px;
  width: 80%;
  font-weight: 500;
  color: var(--dark-blue);
  padding: 5px;
}

.left {
  width: 400px;
}

.links-icon {
  width: 30px;
  margin-left: 10px;
  cursor: pointer;
}
.container1 {
  position: relative;
  display: flex;
  justify-content: center;
}

.photo {
  position: absolute;
  width: 200px;
  bottom: 0px;
}

.name {
  text-align: center;
  padding-top: 10px;
  color: var(--dark-blue);
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.x {
  text-align: center;
  padding-bottom: 30px;
  margin: 0;
  color: #6fa5b3;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.text {
  color: #152031;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.ring {
  width: 220px; 
  height: 220px; 
  border-radius: 50%; 
  background: transparent; 
  border: 30px solid #6fa5b3;
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

.circle {
  width: 200px; 
  height: 200px;
  background-color: #6fa5b3; 
  border-radius: 50%; 

}

.shortAboutMe {
  /* background-color: #739edf; */
  color: var(--dark-blue);
  border-radius: 5px;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  /* height: 100px; */
}


@media (max-width: 1000px) {
  .cv-board {
    align-items: center;
    flex-direction: column;
    /* height: 100vh; */
  }

  .right {
    width: 500px;
    padding-bottom: 50px;
    background-color: #567ab1;
  }

  .left {
    width: 500px;
    padding-top: 60px;
    /* padding-bottom: 50px; */

  }

  

}

@media (max-width: 500px) {
  .cv-board {
    position: relative;
    border-radius: 0px;
    width: 100vw;
    /* height: 100vh; */
    background-color: #6fa5b3;

  }

  .right {
    width: 100%;
  }
  .picture{
    margin-left: 120px;
  }

  .left {
    width: 100%;
  }
  .categoryTab {
    margin-left: 15px;
  }
}

@media (min-width: 1000px) {
  .cv-board {
    height: 700px;

  }
}

.motherboard {
  position: relative;
}

.law{
  position: absolute;
  bottom: 2px;
  left: 2px;
  font-weight: 600;
  color: var(--dark-blue);
}

.clickbait{
  margin-top: 10px;
  margin-bottom: 10px;
  bottom: 25px;
  text-decoration: underline;
  left: 22px;
  font-weight: 600;
  color: var(--dark-blue);
}